.sbx-chip {
    color: rgba(255,255,255,0.87);
    background-color: rgb(84,110,122);
    border-radius: 8px; 
    padding: 4px 6px;
    -webkit-user-select: none;
    margin: 3px 6px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    letter-spacing: 0.01em;
    -webkit-font-smoothing: antialiased;
}

.sbx-chip-waiting {
    background: #F57F17;
}
.sbx-chip-processing {
    background: #4CAF50;
}
.sbx-chip-warn {
    background: #B71C1C;
}

.sbx-grid {
}

.sbx-grid input.filter {
    border: 0;
    border-bottom: solid 1px gray;
    outline: none; /* prevents textbox highlight in chrome */
    margin-bottom: 2px;
}

.sbx-grid table {
    border-collapse: collapse;
    width: 100%;
}

.sbx-grid .table-wrapper {
    overflow-x: auto;
    overflow-y: hidden; 
}

.sbx-grid th.column-header {
    border-bottom-color: rgb(230, 230, 230);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: rgb(130, 130, 130);
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 10px;
    padding-top: 10px;
    text-align: left;
    white-space: nowrap;
}

.sbx-grid th.column-header:last-child {
    padding-right: 0;
}

.sbx-grid tbody tr:hover,
.sbx-grid table tr.row-selected {
    background-color: rgba(158,158,158,0.2);
}

.sbx-grid td.table-cell {
    font-size: 13px;
    /*font-weight: bold;*/
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 30px;
    padding-top: 10px;
    white-space: nowrap;
}

.sbx-grid .header md-select {
    margin: 0;
    margin-left: 2px;
}

md-select-menu.md-default-theme md-option.sbx-grid-object-action-option:hover,
md-select-menu.md-default-theme md-option.sbx-grid-object-action-option:focus:hover {
    background-color: rgba(158,158,158,0.2);
}

md-select-menu.md-default-theme md-option.sbx-grid-object-action-option:focus {
    background-color: rgba(0, 0, 0, 0);
}

.sbx-grid .header .md-select-label {
    padding: 0;
    border: 0;
}

.sbx-grid th.column-header md-checkbox,
.sbx-grid td.table-cell md-checkbox {
    margin: 0;
}

td.table-cell:last-child {
    padding-right: 0;
}

.sbx-grid .table-wrapper .empty-message {
    padding: 20px;
    text-align: center;
    font-style: italic;
    font-size: 14px;
    color: gray;
}

.sbx-grid .pager button.md-button {
    font-size: 13px;
}

.sbx-grid .pager button.md-button:focus {
    background-color: rgba(0, 0, 0, 0);
}

.sbx-grid .filter-section {
	margin-left: 20px;
}

.tag-path-form md-input-container {
    margin: 0;
}