/* main css stylesheet */

body {
    padding-top: 70px;
}

.admin-boxes .connection-url {
    margin-bottom: 20px
}

.frame-image {
    max-width: 100%;
    height: auto;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}

td div.progress {
    margin: 0;
}

/*.login {
	margin-top: 100px;
}*/