/* main css stylesheet */

.slicebox .top-bar .md-button {
	margin-right: 10px;
}

.slicebox .top-bar .md-button:focus {
	background-color: rgba(0, 0, 0, 0);
}

.slicebox .toolbar-logo-text {
	font-weight: 300;
}

.slicebox .toolbar-logo-image {
	width: 35px;
	height: 35px;
	margin-bottom: 12px; 
	margin-right: 3px;
	margin-left: 5px;
}

.slicebox .login-logo-text {
	font-size: 3.4em; 
	color: #37474F;	
	font-weight: 300;
	margin-bottom: 0px;
}

.slicebox .login-logo-subtext {
	color: #37474F;
	font-weight: 300;
	font-style: italic;
}

.slicebox .login-logo-image {
	height: 100px;
	width: 100px;
	margin-bottom: 5px;
}

.slicebox md-dialog {
	padding:  10px 20px;
}

.import-drop-box-container {
	transition: background-color 0.3s ease, border-color 0.3s ease;
	background-color: #CFD8DC;
	border: 4px;
	border-style: solid;
    border-radius: 15px; 
    border-color: #90A4AE;
}

.import-drop-box-dragover {
	background-color: #90A4AE;
    border-color: #CFD8DC;
}

.left-nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.left-nav ul li {
	margin: 0;
	padding: 0;
}

.left-nav ul li .md-button {
	display: block;
	border-radius: 0;
	cursor: pointer;
	line-height: 40px;
	margin: 0;
	padding: 0 16px 0 16px;
	text-align: left;
	color: rgb(100, 100, 100);
	font-size: 0.9em;
}

.left-nav ul li h4 {
	margin: 32px 0 8px 0;
	padding: 0 16px 0 16px;
	text-align: left;
	color: rgb(100, 100, 100);
	font-weight: normal;
}

.left-nav ul li ul li .md-button {
	padding: 0 16px 0 32px;
}

.left-nav ul li .active {
	background-color: rgba(158,158,158,0.2);
}

.login .intro {
	margin-right: 60px;
}


.home .left-column {
	margin-left: 20px;
	margin-right: 60px;
}

.home .left-column md-card h4 {
	margin-top: 0;
	margin-bottom: 5px;
	color: rgb(100, 100, 100);
}

.home .tab-content {
	padding-top: 20px;
}

.home form.image-options {
	margin-top: -20px;
}

.home form.image-options md-select,
.home form.image-options md-checkbox,
.home form.image-options md-input-container {
	margin: 0;
	margin-right: 5px;
	margin-left: 5px;
}

.home form.image-options md-checkbox {
	margin-right: 20px;
	margin-left: 20px;
}

.home md-divider {
	margin-top: 10px;
	margin-bottom: 10px;
}

.home form.image-options md-checkbox {
	margin-bottom: 3px;
	margin-left: 20px;
}

.home form.image-options md-input-container {
	padding: 0;
}

/*.admin-boxes .connection-url {
    margin-bottom: 20px
}*/

.frame-image {
    max-width: 100%;
    height: auto;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}

td div.progress {
    margin: 0;
}

.add-box form {
	margin-top: 20px;
}

.inbox {
	margin: 20px;
}

.outbox {
	margin: 20px;
}

.admin-boxes {
	margin: 20px;
}

.dialog-content.add-box md-radio-group:focus {
	border: 0;
}

.admin-boxes md-card.status {
	box-shadow: 0 0 0 #000000;
	margin: 0;
}

.admin-boxes md-card.status md-toolbar {
	min-height: 0;
	padding: 5px;
}

.admin-boxes .button-row {
	margin-top: 10px;
}

.admin-pacs {
	margin: 20px;
}

.admin-pacs .button-row {
	margin-top: 10px;
}

.admin-watchdirectories {
	margin: 20px;
}

.admin-watchdirectories .button-row {
	margin-top: 10px;
}

.add-scpscu input {
	min-width: 400px;
}

.admin-users {
	margin: 20px;
}

.admin-users .button-row {
	margin-top: 10px;
}

.add-user input {
	min-width: 400px;
}

.admin-series-types .button-row {
	margin-top: 10px;
}