/.cache
/.classpath
/.project
/.settings
/.target
project/project
project/target
project/activator*
/target
/bin/
/storage
/storage.h2.db
/storage.trace.db
/storage.lock.db
/*.sublime-project
/*.sublime-workspace
/logs
