<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/slicebox.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/slicebox_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>60</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
 
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="akka" level="WARN" />
    <logger name="slick" level="WARN" />
    <logger name="com.zaxxer.hikari" level="WARN" />
    <logger name="com.typesafe.sslconfig" level="WARN" />
    <logger name="slick.jdbc.JdbcBackend.statement" level="WARN" />
    <logger name="slick.basic.BasicBackend.action" level="WARN" />
    <logger name="org.dcm4che3" level="WARN" />
    <logger name="akka.stream.impl.io.FileSubscriber" level="OFF" />

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
