<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <!--<pattern>%date{MM/dd HH:mm:ss} %-6level[%logger{0}]: %msg%n</pattern>-->
            <pattern>%-6level[%logger{0}]: %msg%n</pattern>
        </encoder>
    </appender>

    <!-- <logger name="akka" level="DEBUG" />  -->
    <logger name="spray" level="INFO" />
	<logger name="scala.slick" level="INFO" />
    <logger name="com.mchange" level="ERROR" />
	<!-- <logger name="scala.slick.jdbc.JdbcBackend.statement" level="DEBUG" /> -->
	<logger name="org.dcm4che3" level="ERROR" />
    <logger name="se.vgregion" level="INFO" />

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
