<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%date{HH:mm:ss:sss} %-6level: %msg%n</pattern>
            <!--<pattern>%-6level[%logger{0}]: %msg%n</pattern>-->
        </encoder>
    </appender>

    <logger name="akka" level="ERROR" />
    <logger name="spray" level="ERROR" />
	<logger name="scala.slick" level="ERROR" />
    <logger name="com.mchange" level="ERROR" />
	<!-- <logger name="scala.slick.jdbc.JdbcBackend.statement" level="DEBUG" /> -->
	<logger name="org.dcm4che3" level="ERROR" />
    <logger name="se.nimsa.sbx" level="WARN" />

    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
