production = false
production = ${?PRODUCTION}

default {

	scp {
		name = "TestSCP"
		aeTitle = "AE1"
		port = 11111
		directory = "C:/users/karl/Desktop/temp"
	}

	monitor-directory {
		directory = "C:/users/karl/Desktop/temp"
	}
	
}
