<span ng-hide="true" ng-transclude></span>

<div class="sbx-grid">

    <!-- HEADER START -->
    <div class="header" layout="row" layout-wrap layout-align="space-between center">

        <md-menu class="actions-menu" ng-if="objectActions.length > 0">
            <md-button aria-label="Open object action menu" class="md-icon-button actions-menu-button" ng-click="$mdOpenMenu($event)">
                <md-icon md-menu-origin md-svg-src="/assets/images/ic_menu_18px.svg"></md-icon>
            </md-button>
            <md-menu-content width="2">
                <md-menu-item ng-repeat="objectAction in objectActions">
                    <md-button ng-click="objectActionSelected(objectAction)" ng-disabled="objectActionEnabled(objectAction) === false"> {{objectAction.name}} </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
               
        <div ng-if="filterEnabled()">
            <input type="text" class="filter" ng-model="uiState.filter" ng-change="filterChanged()" placeholder="Filter">
        </div>
    </div>
    <!-- HEADER END -->

    <!-- CONTENT TABLE START -->
    <md-content class="table-wrapper">

        <table ng-cloak class="ng-cloak">
            <col width="20px" ng-if="objectActions.length > 0" />

            <col ng-repeat="columnDefinition in columnDefinitions track by columnDefinition.property" />

            <thead>
                <tr>
                    <th ng-if="objectActions.length > 0" class="column-header">
                        <md-checkbox ng-model="uiState.selectAllChecked"    
                            ng-change="selectAllChanged()" aria-label="Select"></md-checkbox>
                    </th>
                    
                    <th ng-repeat="columnDefinition in columnDefinitions track by columnDefinition.property"
                        ng-click="columnClicked(columnDefinition)"
                        class="column-header"
                        ng-style="columnHeaderOrderByStyle(columnDefinition)">
                        {{columnDefinition.title}}
                        &nbsp;
                        <md-icon 
                            md-svg-src="/assets/images/ic_arrow_drop_up_black_18px.svg" 
                            ng-if="orderByProperty === columnDefinition.property && orderByDirection === 'ASCENDING'">
                        </md-icon>
                        <md-icon 
                            md-svg-src="/assets/images/ic_arrow_drop_down_black_18px.svg" 
                            ng-if="orderByProperty === columnDefinition.property && orderByDirection === 'DESCENDING'">
                        </md-icon>
                    </th>
                </tr>
            </thead>
            
            <tbody ng-style="tableBodyStyle()">
                <tr ng-repeat="rowObject in objectList"
                    ng-click="rowClicked(rowObject)"
                    ng-class="rowCSSClasses(rowObject)">

                    <td ng-if="objectActions.length > 0" class="table-cell">
                        <md-checkbox
                            ng-if="rowHasActions(rowObject)"
                            ng-model="objectActionSelection[$index]"
                            ng-click="$event.stopPropagation()" aria-label="Select"></md-checkbox>
                    </td>

                    <td sbx-grid-internal-td
                        ng-repeat="columnDefinition in columnDefinitions track by columnDefinition.property"
                        class="table-cell">
                        {{filteredCellValues[$parent.$index][columnDefinition.property]}}
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="empty-message" ng-if="objectList && objectList.length == 0">{{uiState.emptyMessage}}</div>

    </md-content>
    <!-- CONTENT TABLE END -->

    <!-- PAGER START -->
    <div layout="row" class="pager">
        <div>
            <md-button class="md-primary" ng-if="currentPage > 0" ng-click="loadPreviousPage()">&larr; Previous</md-button>
        </div>

        <div flex></div>

        <div>
            <md-button class="md-primary" ng-if="morePagesExists" ng-click="loadNextPage()">Next &rarr;</md-button>
        </div>
    </div>
    <!-- PAGER END -->
</div>