<span ng-hide="true" ng-transclude></span>

<div class="sbx-grid">

    <!-- HEADER START -->
    <div class="header" layout="row" layout-wrap layout-align="space-between center">
        <md-select ng-change="objectActionSelected()" ng-model="uiState.selectedObjectAction" ng-if="objectActions.length > 0" ng-disabled="objectActionsEnabled() == false">
            <md-select-label><span class="fa fa-cog"></span>&nbsp;<span class="fa fa-caret-down"></span></md-select-label>
            <md-option class="sbx-grid-object-action-option" ng-repeat="objectAction in objectActions" ng-value="objectAction">{{objectAction.name}}</md-option>
        </md-select>
        <div ng-if="filterEnabled()">
            <input type="text" class="filter" ng-model="uiState.filter" ng-change="filterChanged()" placeholder="Filter">
        </div>
    </div>
    <!-- HEADER END -->

    <!-- CONTENT TABLE START -->
    <md-content class="table-wrapper">

        <table ng-cloak class="ng-cloak">
            <col width="20px" ng-if="objectActions.length > 0" />

            <col ng-repeat="columnDefinition in columnDefinitions track by columnDefinition.property"
                ng-show="columnConfigurations[columnDefinition.property].visible" />

            <thead>
                <tr>
                    <th ng-if="objectActions.length > 0" class="column-header">
                        <md-checkbox ng-model="uiState.selectAllChecked"
                            ng-change="selectAllChanged()"></md-checkbox>
                    </th>
                    
                    <th ng-repeat="columnDefinition in columnDefinitions track by columnDefinition.property"
                        ng-click="columnClicked(columnDefinition)"
                        ng-show="columnConfigurations[columnDefinition.property].visible"
                        class="column-header">
                        {{columnDefinition.title}}

                        <i ng-class="columnHeaderOrderByClass(columnDefinition)"></i>
                    </th>
                </tr>
            </thead>
            
            <tbody ng-style="tableBodyStyle()">
                <tr ng-repeat="rowObject in objectList"
                    ng-click="rowClicked(rowObject)"
                    ng-class="rowCSSClasses(rowObject)">

                    <td ng-if="objectActions.length > 0" class="table-cell">
                        <md-checkbox
                            ng-if="rowHasActions(rowObject)"
                            ng-model="objectActionSelection[$index]"
                            ng-click="$event.stopPropagation()"></md-checkbox>
                    </td>

                    <td sbx-grid-internal-td
                        ng-repeat="columnDefinition in columnDefinitions track by columnDefinition.property"
                        ng-show="columnConfigurations[columnDefinition.property].visible"
                        class="table-cell">
                        {{filteredCellValues[$parent.$index][columnDefinition.property]}}
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="empty-message" ng-if="objectList && objectList.length == 0">{{uiState.emptyMessage}}</div>

    </md-content>
    <!-- CONTENT TABLE END -->

    <!-- PAGER START -->
    <div layout="row" class="pager">
        <div>
            <md-button class="md-primary" ng-if="currentPage > 0" ng-click="loadPreviousPage()">&larr; Previous</md-button>
        </div>

        <div flex></div>

        <div>
            <md-button class="md-primary" ng-if="morePagesExists" ng-click="loadNextPage()">Next &rarr;</md-button>
        </div>
    </div>
    <!-- PAGER END -->
</div>