<md-dialog aria-label="Add Box" flex="60">
	<md-dialog-content>
    	<md-subheader class="md-sticky-no-effect">Add Box</md-subheader>

		<md-radio-group ng-model="uiState.addChoice" ng-change="radioButtonChanged()">
			<md-radio-button value="generateURL">This is a publicly accessible server and I would like to create a new Slicebox URL to send to a collaborator.</md-radio-button>
			<md-radio-button value="connect">I have received a Slicebox URL from a collaborator and would like to connect.</md-radio-button>
		</md-radio-group>

		<form name="addBoxForm" layout="column" novalidate>
			<md-input-container 
				md-is-error="addBoxForm.remoteBoxName.$error.required && addBoxForm.$submitted"
				ng-if="uiState.addChoice == 'connect' || uiState.addChoice == 'generateURL'">
				
				<label>Remote Slicebox name</label>
                <input type="text"
					ng-model="uiState.remoteBoxName"
					name="remoteBoxName"
					required />

                <div ng-messages="addBoxForm.remoteBoxName.$error"
                    ng-show="addBoxForm.remoteBoxName.$error.required && addBoxForm.$submitted">

                    <div ng-message="required">This is required!</div>
                </div>
            </md-input-container>

            <md-input-container
            	ng-if="uiState.addChoice == 'connect'"
            	md-is-error="addBoxForm.connectionURL.$error.required && addBoxForm.$submitted">
				
				<label>Connection URL</label>
                <input type="text"
					ng-model="uiState.connectionURL"
					name="connectionURL"
					required />

                <div ng-messages="addBoxForm.connectionURL.$error"
                    ng-show="addBoxForm.connectionURL.$error.required && addBoxForm.$submitted">

                    <div ng-message="required">This is required!</div>
                </div>
            </md-input-container>

			<div>
				<anonymization-profile-form options="uiState.defaultOptions"></anonymization-profile-form>
			</div>

			<div ng-if="uiState.addChoice == 'connect'">
				<sbx-button button-class="md-raised md-primary"
					button-type="submit"
					button-title="Connect"
					action="connectButtonClicked()"></sbx-button>
			</div>
			<div ng-if="uiState.addChoice == 'generateURL'">
				<sbx-button button-class="md-raised md-primary"
					button-type="submit"
					button-title="Create Connection"
					action="generateURLButtonClicked()"></sbx-button>
			</div>
		</form>
    </md-dialog-content>

    <md-dialog-actions layout="row">
    	<span flex></span>
    	<md-button ng-click="cancelButtonClicked()">Cancel</md-button>
    </md-dialog-actions>
</md-dialog>