<md-dialog aria-label="Add Dicom SCP" class="add-scpscu">
    <md-content class="sticky-container">
        <md-subheader class="md-sticky-no-effect">Add Dicom SCP</md-subheader>
        <div class="dialog-content">
            <md-input-container>
                <label>Name</label>
                <input type="text" ng-model="name">
            </md-input-container>

            <md-input-container>
                <label>AE-Title</label>
                <input type="text" ng-model="aeTitle">
            </md-input-container>

            <md-input-container>
                <label>Port</label>
                <input type="number" ng-model="port">
            </md-input-container>            
        </div>
    </md-content>

    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="cancelButtonClicked()">Cancel</md-button>
        <sbx-button button-class="md-primary" button-title="Add" action="addButtonClicked()" ng-disabled="!(name && aeTitle && port)"></sbx-button>
    </div>
</md-dialog>