<md-dialog aria-label="Add Dicom SCU" class="add-scpscu">
    <md-dialog-content>
        <md-subheader class="md-sticky-no-effect">Add Dicom SCU</md-subheader>
        
        <md-input-container>
            <label>Name</label>
            <input type="text" ng-model="name">
        </md-input-container>

        <md-input-container>
            <label>AE-Title</label>
            <input type="text" ng-model="aeTitle">
        </md-input-container>

        <md-input-container>
            <label>Host</label>
            <input type="text" ng-model="host">
        </md-input-container>

        <md-input-container>
            <label>Port</label>
            <input type="number" ng-model="port">
        </md-input-container>            
    </md-dialog-content>

    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="cancelButtonClicked()">Cancel</md-button>
        <sbx-button button-class="md-primary" button-title="Add" action="addButtonClicked()" ng-disabled="!(name && aeTitle && host && port)"></sbx-button>
    </div>
</md-dialog>