<md-dialog aria-label="Add Watch Directory" class="add-watchdirectory">

    <form name="watchdirectoryForm">

        <md-dialog-content>
            <md-subheader class="md-sticky-no-effect">Add Watch Directory</md-subheader>

            <div layout="column">

                <md-input-container>
                    <label>Name</label>
                    <input type="text" ng-model="name" required />
                </md-input-container>

                <md-input-container>
                    <label>Directory path</label>
                    <input type="text" ng-model="path" required />
                </md-input-container>

            </div>

        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancelButtonClicked()">Cancel</md-button>
            <md-button type="submit" class="md-primary" ng-click="addButtonClicked()" ng-disabled="watchdirectoryForm.$invalid">Add</md-button>
        </md-dialog-actions>
        
    </form>

</md-dialog>
