<div layout="column" layout-margin>

    <div ng-controller="AdminScpsCtrl" class="admin-pacs">

        <md-card>
            <md-card-content>
                <h4>Storage SCP Servers</h4>
                <h5>Makes sending images from PACS to Slicebox possible</h5>        
                <sbx-grid
                    load-page="loadScpsPage(startIndex, count, orderByProperty, orderByDirection)"
                    page-size="1000000"
                    object-actions="objectActions"
                    sorting="false"
                    callbacks="callbacks.scpsTable"
                    empty-message="No SCPs added">

                    <sbx-grid-column property="name" title="Name">
                    </sbx-grid-column>
                    <sbx-grid-column property="aeTitle" title="AE Title">
                    </sbx-grid-column>
                    <sbx-grid-column property="port" title="Port">
                    </sbx-grid-column>
                </sbx-grid>

                <div layout="row" class="button-row">
                    <md-button class="md-primary md-raised" ng-click="addScpButtonClicked()" ng-disabled="uiState.addInProgress">
                        Add SCP
                    </md-button>
                    <div flex></div>
                </div>
            </md-card-content>
        </md-card>

    </div>

    <div ng-controller="AdminScusCtrl" class="admin-pacs">
        
        <md-card>
            <md-card-content>
                <h4>Storage SCU Clients</h4>
                <h5>Add a target PACS for sending result images</h5>        
                <sbx-grid
                    load-page="loadScusPage(startIndex, count, orderByProperty, orderByDirection)"
                    page-size="1000000"
                    object-actions="objectActions"
                    sorting="false"
                    callbacks="callbacks.scusTable"
                    empty-message="No SCUs added">

                    <sbx-grid-column property="name" title="Name">
                    </sbx-grid-column>
                    <sbx-grid-column property="aeTitle" title="AE Title">
                    </sbx-grid-column>
                    <sbx-grid-column property="host" title="Host">
                    </sbx-grid-column>
                    <sbx-grid-column property="port" title="Port">
                    </sbx-grid-column>
                </sbx-grid>

                <div layout="row" class="button-row">
                    <md-button class="md-primary md-raised" ng-click="addScuButtonClicked()" ng-disabled="uiState.addInProgress">
                        Add SCU
                    </md-button>
                    <div flex></div>
                </div>
            </md-card-content>
        </md-card>
    </div>


</div>