<div layout="column" layout-margin>
    <div class="admin-watchdirectories">
        <md-card>
            <md-card-content>
                <h4>Watch local file system directories</h4>
                <h5>Files and folders dropped in theses locations will be picked up by Slicebox</h5>
                <sbx-grid
                    load-page="loadWatchDirectoriesPage(startIndex, count, orderByProperty, orderByDirection)"
                    page-size="20"
                    refresh-button="true"
                    object-actions="objectActions"
                    callbacks="callbacks.directoriesTable"
                    sorting="false"
                    empty-message="No watch directories added">

                    <sbx-grid-column property="name" title="Name"></sbx-grid-column>
                    <sbx-grid-column property="path" title="Path"></sbx-grid-column>
                    
                </sbx-grid>

                <div layout="row" class="button-row">
                    <md-button class="md-primary md-raised" ng-click="addDirectoryButtonClicked()" ng-disabled="uiState.addDirectoryInProgress">
                        Add Directory
                    </md-button>
                    <div flex></div>
            	</div>
            </md-card-content>
        </md-card>
    </div>
</div>