<div layout="column" layout-margin>
    <div class="admin-series-types">

	    <div layout="row" layout-margin>
	        <div flex>
	            <md-card>
	                <md-card-content>
	                    <h4 class="md-flex">Series Types</h4>
	                    <md-content>
	                        <sbx-grid
	                            load-page="loadSeriesTypesPage(startIndex, count, orderByProperty, orderByDirection)"
	                            page-size="20"
								refresh-button="true"
	                            sorting="false"
	                            object-actions="objectActions"
	                            callbacks="callbacks.seriesTypesTable"
	                            object-selected="seriesTypeSelected(object)"
	                            empty-message="No series types added">

	                            <sbx-grid-column property="name" title="Name">
	                            </sbx-grid-column>
	                        </sbx-grid>

	                        <div layout="row" class="button-row">
					            <md-button class="md-primary md-raised" ng-click="addSeriesTypeButtonClicked()">
					                Add Series Type
					            </md-button>
					            <div flex></div>
					        </div>
	                    </md-content>
	                </md-card-content>
	            </md-card>
	            <md-card>
	                <md-card-content>
	                    <h4 class="md-flex">Series Type Update Status</h4>
	                    <md-content>
	                    	<div layout="column" layout-margin>
		                    	<sbx-chip ng-if="!uiState.updateIsRunning">Idle</sbx-chip>
		                    	<sbx-chip ng-if="uiState.updateIsRunning" chip-class="sbx-chip-warn">Running</sbx-chip>
		                    </div>
	                    </md-content>
	                </md-card-content>
	            </md-card>
	        </div>

	        <div flex ng-controller="SeriesTypeDetailsCtrl">
	        	<form name="seriesTypeForm" role="seriesTypeForm" ng-submit="saveSeriesType()" novalidate>

	            <md-card ng-if="uiState.selectedSeriesType">
	                <md-card-content>
	                	<md-content>
			                <md-input-container md-no-float md-is-error="seriesTypeForm.$submitted && seriesTypeForm.name.$error.required">
		                        <input type="text" name="name" placeholder="Series type name" ng-model="uiState.selectedSeriesType.name" required>
		                        <div ng-messages="seriesTypeForm.name.$error"
		                            ng-show="seriesTypeForm.$submitted && seriesTypeForm.name.$error.required">

		                            <div ng-message="required">This is required!</div>
		                        </div>
		                    </md-input-container>

		                    <md-card ng-repeat="rule in state.rules">
		                    	<md-card-content>
		                    		<h4 class="md-flex">Rule {{$index + 1}}</h4>

		                    		<md-progress-circular ng-if="!rule.attributes" md-mode="indeterminate"></md-progress-circular>

		                    		<span ng-if="rule.attributes">
			                    		<sbx-grid
				                            load-page="loadSeriesTypeRuleAttributes(rule)"
				                            object-actions="attributeActions"
				                            page-size="100000"
				                            sorting="false"
				                            callbacks="callbacks.ruleAttributesTables[$index]"
				                            empty-message="No attributes added">

				                            <sbx-grid-column property="tag" title="Tag" filter="hexvalue: 8">
				                            </sbx-grid-column>

				                            <sbx-grid-column property="name" title="Name">
				                            </sbx-grid-column>

				                            <sbx-grid-column property="namePath" title="Path">
				                            </sbx-grid-column>

				                            <sbx-grid-column property="temp1" title="">
				                            	<sbx-grid-cell>
				                            		<span>=</span>
				                            	</sbx-grid-cell>
				                            </sbx-grid-column>

											<sbx-grid-column property="values" title="Value">
				                            </sbx-grid-column>

				                            <sbx-grid-column property="temp2" title="">
				                            	<sbx-grid-cell>
				                            		<span ng-if="!isLastRowObject()" style="font-weight: bold">AND</span>
				                            	</sbx-grid-cell>
				                            </sbx-grid-column>		                            
				                        </sbx-grid>
				                    </span>

		                    		<div layout="row" class="button-row">
					                    <md-button md-no-ink class="md-primary" type="button" ng-click="addRuleAttributeButtonClicked(rule, $index)">
					                        Add Attribute
					                    </md-button>
					                </div>
		                    	</md-card-content>
		                    </md-card>

		                    <div layout="row" class="button-row">
		                    	<div flex></div>
			                    <md-button md-no-ink class="md-primary" type="button" ng-click="addRuleButtonClicked()">
			                        Add Rule
			                    </md-button>
			                </div>

			                <sbx-button button-class="md-raised md-primary"
								button-type="submit"
								button-disabled="!seriesTypeDataChanged()"
								button-title="Save"
								action="saveButtonClicked()">
							</sbx-button>
	                    </md-content>
	                </md-card-content>
	            </md-card>

	            </form>
	        </div>
	    </div>

	</div>
</div>