<div layout="column" layout-margin>
    <div class="admin-system">
        <md-card>
            <md-card-content>
                <h4>System</h4>
                <md-button class="md-primary md-raised" ng-click="clearLogButtonClicked()">
                    Clear Log
                </md-button>
                <md-button class="md-primary md-raised" ng-click="exportAnonymizationInfoButtonClicked()">
                    Export Anonymization Info
                </md-button>
                <md-button class="md-warn md-raised" ng-click="shutdownButtonClicked()">
                    Shutdown
                </md-button>

            </md-card-content>
        </md-card>
    </div>
</div>