<div ng-if="uiState.errorMessage" class="row">
    <div class="col-md-12">
        <alert type="danger" close="closeErrorMessageAlert()">{{uiState.errorMessage}}</alert>
    </div>
</div>

<div class="row admin-boxes">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Boxes</div>

            <div class="panel-body">
                <div class="input-group connection-url">
                    <input type="text" ng-model="remoteBoxBaseURL" class="form-control" placeholder="Enter box URL to connect"></input>

                    <span class="input-group-btn">
                        <button class="btn btn-primary"
                            ng-disabled="!remoteBoxBaseURL || uiState.connectInProgress"
                            ng-click="connectButtonClicked()">
                            Connect
                        </button>
                    </span>
                </div>

                <sbx-grid
                    load-page="loadBoxesPage(startIndex, count, orderByProperty, orderByDirection)"
                    page-size="20"
                    object-actions="objectActions"
                    callbacks="callbacks.boxesTable"
                    empty-message="No boxes added">

                    <sbx-grid-column property="name" title="Name">
                    </sbx-grid-column>

                    <sbx-grid-column property="token" title="Token">
                    </sbx-grid-column>

                    <sbx-grid-column property="baseUrl" title="Base URL">
                    </sbx-grid-column>

                    <sbx-grid-column property="online" title="Online">
                    </sbx-grid-column>

                    <sbx-grid-column property="sendMethod" title="Send Method (DEBUG)">
                    </sbx-grid-column>
                </sbx-grid>

                <button class="btn btn-default" type="button"
                    ng-click="generateURLButtonClicked()"
                    ng-disabled="uiState.generateURLInProgress">
                    Generate Connection URL
                </button>
            </div>
        </div>
    </div>
</div>