<md-dialog aria-label="Box Connection URL">
  	<md-dialog-content>
    	<md-subheader class="md-sticky-no-effect">Box Connection URL</md-subheader>

		<p>A box connection to <i>{{name}}</i> with the following URL has been created</p>

		<strong>{{baseURL}}</strong>

		<p>Click <a href="mailto:?Subject=Connect%20to%20my%20Slicebox&Body={{mailBody()}}">here</a> to send an email with this information to your collaborator.</p>
	    
    </md-dialog-content>

    <md-dialog-actions layout="row">
    	<span flex></span>
    	<md-button ng-click="closeButtonClicked()">Close</md-button>
    </md-dialog-actions>
</md-dialog>