<md-dialog aria-label="{{title}}">
  	<md-content class="sticky-container">
    	<md-subheader class="md-sticky-no-effect">{{title}}</md-subheader>
    	<div class="dialog-content">
    		<p>{{message}}</p>
    	</div>
    </md-content>

    <div class="md-actions" layout="row">
    	<span flex></span>
    	<md-button ng-click="cancelButtonClicked()">Cancel</md-button>
    	<sbx-button button-class="md-warn" button-title="{{action}}" action="actionButtonClicked()"></sbx-button>
    </div>
</md-dialog>