<md-dialog aria-label="Add Box">
	<form name="editTagPathForm" ng-submit="saveTagPath()" novalidate>

		<md-dialog-content>
	  		<md-subheader class="md-sticky-no-effect">
	  			<span ng-if="tagPath.id">Edit Tag Path</span>
	  			<span ng-if="!tagPath.id">Add Tag Path</span>
	  		</md-subheader>

			<tag-path-form tag-path="tagPath"></tag-path-form>

			<md-content>
				<md-card>
					<md-card-title>
						<md-card-title-text>
							<span class="md-subhead">Tag Path</span>
						</md-card-title-text>
					</md-card-title>
					<md-card-content>
						<p>{{ tagPath | tagPath }}</p>
					</md-card-content>
				</md-card>
			</md-content>

		</md-dialog-content>

	  	<md-dialog-actions layout="row">
	    	<span flex></span>
	    	<md-button ng-click="cancelButtonClicked()">Cancel</md-button>
			<md-button class="md-primary" type="submit">OK</md-button>
	    </md-dialog-actions>

	 </form>
 </md-dialog>