<md-dialog aria-label="Add Box">
	<form name="editAttributeForm" ng-submit="saveAttribute()" novalidate>

		<md-dialog-content>
	  		<md-subheader class="md-sticky-no-effect">
	  			<span ng-if="attribute.id">Edit Attribute</span>
	  			<span ng-if="!attribute.id">Add Attribute</span>
	  		</md-subheader>

	  		<div layout="column">

		  	<!--	<md-input-container> -->
		  <!--			<label>Tag (hex)</label> -->
					<tag-path-form></tag-path-form>
<!--
					<input
						sbx-dicom-hex-value
						ng-model="attribute.tag"
						type="text"
						name="tag"
						required>
					<div ng-messages="editAttributeForm.tag.$error"
			            ng-show="editAttributeForm.$submitted">

			            <div ng-message="required"
			            	ng-show="editAttributeForm.tag.$error.required">tag is required</div>
			            <div ng-message="sbxDicomHexValue"
			            	ng-show="editAttributeForm.tag.$error.sbxDicomHexValue">must be valid hex number</div>
			        </div>
				</md-input-container>

				<md-input-container>
					<label>Value</label>
					<input
						ng-model="attribute.values"
						type="text"
						name="values"
						required>

					<div ng-messages="editAttributeForm.values.$error"
			            ng-show="editAttributeForm.$submitted">

			            <div ng-message="required"
			            	ng-show="editAttributeForm.values.$error.required">value is required</div>
			        </div>
			    </md-input-container>
-->
			</div>

	  	</md-dialog-content>

	  	<md-dialog-actions layout="row">
	    	<span flex></span>
	    	<md-button ng-click="cancelButtonClicked()">Cancel</md-button>
			<md-button class="md-primary" type="submit">OK</md-button>
	    </md-dialog-actions>

	 </form>
 </md-dialog>