<div class="modal-header">
    <h3 class="modal-title">Generate Connection URL</h3>
</div>

<div class="modal-body">

    <div class="form-group">
        <input type="text" ng-model="remoteBoxName" class="form-control" placeholder="Remote box name"></input>
    </div>

</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="generateButtonClicked()" ng-disabled="!remoteBoxName">Generate</button>
    <button class="btn btn-default" ng-click="cancelButtonClicked()">Cancel</button>
</div>