<div layout="row" layout-margin class="home">
    <div layout="column" flex="40" class="left-column">
        <md-tabs md-selected="uiState.leftColumnSelectedTabIndex">
            <md-tab id="patient-study-series" aria-controls="patient-study-series-content">
                Patient-Study-Series
            </md-tab>
            <md-tab id="series" aria-controls="series-content">
                Series
            </md-tab>
        </md-tabs>

        <ng-switch on="uiState.leftColumnSelectedTabIndex" class="tabpanel-container">
            <div role="tabpanel"
                id="patient-study-series-content"
                aria-labelledby="patient-study-series"
                ng-switch-when="0"
                class="tab-content">

                <md-card>
                    <md-card-content>
                        <div class="header" layout="row" layout-wrap layout-align="space-between center">
                            <h4 class="md-flex card-header">Patients</h4>
                            <div flex></div>
                            <md-button aria-label="Advanced filtering options" class="md-icon-button"  ng-click="openAdvancedFilteringModal()">
                                <md-icon md-menu-origin md-svg-src="/assets/images/ic_filter_list_black_18px.svg"></md-icon>
                            </md-button>
                        </div>
                        <md-content>
                            <sbx-grid
                                load-page="loadPatients(startIndex, count, orderByProperty, orderByDirection, filter)"
                                page-size="10"
                                page-sizes="[10, 25, 100, 1000]"
                                filter="true"
                                object-actions="patientActions"
                                object-selected="patientSelected(object)"
                                callbacks="callbacks.patientsTable"
                                refresh-button="true"
                                empty-message="No patients found"
                                grid-state="uiState.patientTableState">

                                <sbx-grid-column property="id" title="Id">
                                </sbx-grid-column>

                                <sbx-grid-column property="patientName['value']" title="Patient Name">
                                    <sbx-grid-cell>
                                        {{rowObject.patientName.value | prettyPatientName}}
                                    </sbx-grid-cell>
                                </sbx-grid-column>

                                <sbx-grid-column property="patientID['value']" title="Patient Id">
                                </sbx-grid-column>

                                <sbx-grid-column property="patientBirthDate['value']" title="Birth Date">
                                </sbx-grid-column>

                                <sbx-grid-column property="patientSex['value']" title="Sex">
                                </sbx-grid-column>
                            </sbx-grid>
                        </md-content>
                    </md-card-content>
                </md-card>

                <md-card ng-if="uiState.selectedPatient !== null">
                    <md-card-content>
                        <h4 class="md-flex card-header">Studies</h4>
                        <md-content>
                            <sbx-grid
                                load-page="loadStudies(startIndex, count, orderByProperty, orderByDirection)"
                                page-size="100000"
                                sorting="false"
                                object-actions="studyActions"
                                object-selected="studySelected(object)"
                                callbacks="callbacks.studiesTable"
                                refresh-button="true"
                                empty-message="No studies found"
                                grid-state="uiState.studyTableState">

                                <sbx-grid-column property="id" title="Id">
                                </sbx-grid-column>

                                <sbx-grid-column property="studyDescription['value']" title="Description">
                                </sbx-grid-column>

                                <sbx-grid-column property="studyDate['value']" title="Date">
                                </sbx-grid-column>

                                <sbx-grid-column property="studyID['value']" title="Study Id">
                                </sbx-grid-column>

                                <sbx-grid-column property="accessionNumber['value']" title="Accession Number">
                                </sbx-grid-column>

                                <sbx-grid-column property="patientAge['value']" title="Patient Age">
                                </sbx-grid-column>
                            </sbx-grid>
                        </md-content>
                    </md-card-content>
                </md-card>

                <md-card ng-if="uiState.selectedStudy !== null">
                    <md-card-content>
                        <h4 class="md-flex card-header">Series</h4>
                        <md-content>
                            <sbx-grid
                                load-page="loadSeries(startIndex, count, orderByProperty, orderByDirection)"
                                page-size="100000"
                                sorting="false"
                                object-actions="seriesActions"
                                object-selected="seriesSelected(object)"
                                callbacks="callbacks.seriesTable"
                                refresh-button="true"
                                empty-message="No series found"
                                grid-state="uiState.seriesTableState">

                                <sbx-grid-column property="id" title="Id">
                                </sbx-grid-column>

                                <sbx-grid-column property="seriesDescription['value']" title="Description">
                                </sbx-grid-column>

                                <sbx-grid-column property="seriesDate['value']" title="Date">
                                </sbx-grid-column>

                                <sbx-grid-column property="modality['value']" title="Modality">
                                </sbx-grid-column>

                                <sbx-grid-column property="protocolName['value']" title="Protocol Name">
                                </sbx-grid-column>

                                <sbx-grid-column property="bodyPartExamined['value']" title="Body Part Examined">
                                </sbx-grid-column>

                                <sbx-grid-column property="manufacturer['value']" title="Station Manufacturer">
                                </sbx-grid-column>

                                <sbx-grid-column property="stationName['value']" title="Station Name">
                                </sbx-grid-column>
                            </sbx-grid>
                        </md-content>
                    </md-card-content>
                </md-card>
            </div>

            <div role="tabpanel"
                id="series-content"
                aria-labelledby="series"
                ng-switch-when="1"
                class="tab-content">

                <md-card>
                    <md-card-content>
                        <div class="header" layout="row" layout-wrap layout-align="space-between center">
                            <h4 class="md-flex card-header">All Series</h4>
                            <div flex></div>
                            <md-button aria-label="Advanced filtering options" class="md-icon-button"  ng-click="openAdvancedFilteringModal()">
                                <md-icon md-menu-origin md-svg-src="/assets/images/ic_filter_list_black_18px.svg"></md-icon>
                            </md-button>
                        </div>
                        <md-content>
                            <sbx-grid
                                load-page="loadFlatSeries(startIndex, count, orderByProperty, orderByDirection, filter)"
                                page-size="10"
                                page-sizes="[10, 25, 100, 1000]"
                                filter="true"
                                object-actions="flatSeriesActions"
                                object-selected="flatSeriesSelected(object)"
                                callbacks="callbacks.flatSeriesTable"
                                refresh-button="true"
                                empty-message="No series found"
                                grid-state="uiState.flatTableState">

                                <sbx-grid-column property="id" title="Id">
                                </sbx-grid-column>

                                <sbx-grid-column property="patient.patientName['value']" title="Patient Name">
                                    <sbx-grid-cell>
                                        {{rowObject.patient.patientName.value | prettyPatientName}}
                                    </sbx-grid-cell>
                                </sbx-grid-column>

                                <sbx-grid-column property="patient.patientID['value']" title="Patient Id">
                                </sbx-grid-column>

                                <sbx-grid-column property="patient.patientBirthDate['value']" title="Birth Date">
                                </sbx-grid-column>

                                <sbx-grid-column property="patient.patientSex['value']" title="Sex">
                                </sbx-grid-column>

                                <sbx-grid-column property="study.patientAge['value']" title="Patient Age">
                                </sbx-grid-column>

                                <sbx-grid-column property="study.studyDescription['value']" title="Study Description">
                                </sbx-grid-column>

                                <sbx-grid-column property="study.studyDate['value']" title="Study Date">
                                </sbx-grid-column>

                                <sbx-grid-column property="study.studyID['value']" title="Study Id">
                                </sbx-grid-column>

                                <sbx-grid-column property="study.accessionNumber['value']" title="Accession Number">
                                </sbx-grid-column>

                                <sbx-grid-column property="series.seriesDescription['value']" title="Series Description">
                                </sbx-grid-column>

                                <sbx-grid-column property="series.seriesDate['value']" title="Series Date">
                                </sbx-grid-column>

                                <sbx-grid-column property="series.modality['value']" title="Modality">
                                </sbx-grid-column>

                                <sbx-grid-column property="series.protocolName['value']" title="Protocol Name">
                                </sbx-grid-column>

                                <sbx-grid-column property="series.bodyPartExamined['value']" title="Body Part Examined">
                                </sbx-grid-column>

                                <sbx-grid-column property="series.manufacturer['value']" title="Station Manufacturer">
                                </sbx-grid-column>

                                <sbx-grid-column property="series.stationName['value']" title="Station Name">
                                </sbx-grid-column>
                            </sbx-grid>
                        </md-content>
                    </md-card-content>
                </md-card>
            </div>
        </ng-switch>
        
    </div>

    <div layout="column" flex class="right-column">
        <md-tabs md-selected="uiState.rightColumnSelectedTabIndex">
            <md-tab id="images" aria-controls="images-content" md-on-select="updatePNGImageUrls()">
                Images
            </md-tab>
            <md-tab id="dicom-tags" aria-controls="dicom-tags-content">
                DICOM Tags
            </md-tab>
            <md-tab id="details" aria-controls="details-content">
                Details
            </md-tab>
        </md-tabs>

        <ng-switch on="uiState.rightColumnSelectedTabIndex" class="tabpanel-container">
            <div role="tabpanel"
                id="images-content"
                aria-labelledby="images"
                ng-switch-when="0"
                class="tab-content">

                <div ng-if="!uiState.selectedSeries">
                    <p><em>No series selected</em></p>
                </div>
                <div ng-if="uiState.selectedSeries">

                    <md-button class="md-icon-button md-primary" ng-click="openImageSettingsModal()" aria-label="Display Settings">
                        <md-icon md-svg-icon="/assets/images/ic_settings_24px.svg"></md-icon>
                    </md-button>

                    <md-card>
                        <md-card-content>
                            <md-content class="md-padding" style="height: 600px">

                                <md-progress-circular ng-if="uiState.loadPngImagesInProgress" md-mode="indeterminate"></md-progress-circular>

                                <div class="clearfix">
                                    <img ng-repeat="imageUrl in uiState.seriesDetails.pngImageUrls | orderBy:'frameIndex'" class="frame-image" ng-src="{{imageUrl.url}}" alt="" />
                                </div>
                            </md-content>
                        </md-card-content>
                    </md-card>
                </div>
            </div>

            <div role="tabpanel"
                id="dicom-tags-content"
                aria-labelledby="dicom-tags"
                ng-switch-when="1"
                class="tab-content">

                <div ng-if="!uiState.selectedSeries">
                    <p><em>No series selected</em></p>
                </div>
                <div ng-if="uiState.selectedSeries">
                    <md-card>
                        <md-card-content>
                            <md-content class="md-padding" style="height: 600px">
                                <sbx-grid
                                    load-page="loadImageAttributes(0, 1000000000, orderByProperty, orderByDirection, filter)"
                                    page-size="1000000000"
                                    sorting="true"
                                    filter="true"
                                    object-actions="imageAttributesActions"
                                    callbacks="callbacks.imageAttributesTable"
                                    empty-message="No image attributes found"
                                    grid-state="uiState.attributesTableState">

                                    <sbx-grid-column property="tag" title="Tag" filter="hexvalue: 8">
                                    </sbx-grid-column>

                                    <sbx-grid-column property="name" title="Name">
                                    </sbx-grid-column>

                                    <sbx-grid-column property="values" title="Value">
                                        <sbx-grid-cell>
                                            {{rowObject.values.join(",")}}
                                        </sbx-grid-cell>
                                    </sbx-grid-column>

                                    <sbx-grid-column property="vr" title="VR">
                                    </sbx-grid-column>

                                    <sbx-grid-column property="length" title="Length">
                                    </sbx-grid-column>

                                    <sbx-grid-column property="namePath" title="Path">
                                        <sbx-grid-cell>
                                            {{rowObject.namePath.join("/")}}
                                        </sbx-grid-cell>
                                    </sbx-grid-column>

                                </sbx-grid> 
                            </md-content>
                        </md-card-content>
                    </md-card>
                </div>
            </div>

            <div role="tabpanel"
                id="details-content"
                aria-labelledby="details"
                ng-switch-when="2"
                class="tab-content">

                <div ng-if="!uiState.selectedSeries">
                    <p><em>No series selected</em></p>
                </div>
                <div ng-if="uiState.selectedSeries">
                    <md-card>
                        <md-card-content>
                            <h4 class="md-flex card-header">Source</h4>
                            <md-content>
                                <p>{{uiState.seriesDetails.selectedSeriesSource}}</p>
                            </md-content>
                        </md-card-content>
                    </md-card>
                    <md-card>
                        <md-card-content>
                            <h4 class="md-flex card-header">Series Types</h4>
                            <md-content>
                                <md-content>
                                    <md-chips
                                            ng-model="uiState.seriesDetails.selectedSeriesSeriesTypes"
                                            md-autocomplete-snap
                                            md-require-match="true"
                                            md-on-remove="seriesTypeRemoved($chip)"
                                            md-on-add="seriesTypeAdded($chip)">
                                        <md-autocomplete
                                                md-search-text="uiState.seriesDetails.typeState.searchText"
                                                md-items="item in findSeriesTypes(uiState.seriesDetails.typeState.searchText)"
                                                md-item-text="item.name"
                                                md-min-length="1"
                                                md-no-cache
                                                placeholder="+type">
                                            <span md-highlight-text="uiState.seriesDetails.typeState.searchText">{{item.name}}</span>
                                        </md-autocomplete>
                                        <md-chip-template>
                                            <span>{{$chip.name}} </span>
                                        </md-chip-template>
                                    </md-chips>
                                </md-content>
                            </md-content>
                        </md-card-content>
                    </md-card>
                    <md-card>
                        <md-card-content>
                            <h4 class="md-flex card-header">Series Tags</h4>
                            <md-content>
                                <md-chips 
                                    ng-model="uiState.seriesDetails.selectedSeriesSeriesTags" 
                                    md-autocomplete-snap 
                                    md-require-match="false"
                                    md-on-remove="seriesTagRemoved($chip)"
                                    md-on-add="seriesTagAdded($chip)">
                                    <md-autocomplete
                                        md-search-text="uiState.seriesDetails.tagState.searchText"
                                        md-items="item in findSeriesTags(uiState.seriesDetails.tagState.searchText)"
                                        md-item-text="item.name"
                                        md-min-length="1"
                                        md-no-cache
                                        placeholder="+tag">
                                        <span md-highlight-text="uiState.seriesDetails.tagState.searchText">{{item.name}}</span>
                                    </md-autocomplete>
                                    <md-chip-template>
                                        <span>{{$chip.name}} </span>
                                    </md-chip-template>
                                </md-chips>
                            </md-content>
                        </md-card-content>
                    </md-card>
                    <md-card>
                        <md-card-content>
                            <h4 class="md-flex card-header">Datasets</h4>
                            <md-content class="md-padding" style="height: 300px">
                                <sbx-grid
                                    load-page="loadSelectedSeriesDatasets()"
                                    page-size="1000000"
                                    sorting="false"
                                    callbacks="callbacks.datasetsTable"
                                    empty-message="No datasets found">

                                    <sbx-grid-column property="url" title="URL">
                                        <sbx-grid-cell>
                                            <a ng-href="{{rowObject.url}}" target="_blank">{{rowObject.url}}</a>
                                        </sbx-grid-cell>
                                    </sbx-grid-column>
                                </sbx-grid>
                            </md-content>
                        </md-card-content>
                    </md-card>
                </div>
            </div>
        </ng-switch>
    </div>
</div>
