<md-dialog aria-label="Image Settings" flex="40">
    <md-dialog-content>
    	<md-subheader class="md-sticky-no-effect">Image Settings</md-subheader>

    	<div class="image-settings">

            <div layout="row" layout-align="space-around">
                <div layout="column" flex="30" layout-align="space-around start">
                    <div>
                        Size: 
                    </div>
                    <div>
                        Number of Images: 
                    </div>
                    <div>
                    	Manual Intensity Window:
                    </div>
                    <div>
                        Intensity Window: 
                    </div>	                    
                </div>
                <div layout="column" flex="70" layout-align="space-around start">
                    <div>
                        <md-select placeholder="Size" ng-model="uiState.imageHeight">
                            <md-option ng-value="0">Original</md-option>
                            <md-option ng-value="50">50</md-option>
                            <md-option ng-value="100">100</md-option>
                            <md-option ng-value="150">150</md-option>
                        </md-select>
                    </div>
                    
                    <div>
                        <md-select placeholder="Images" ng-model="uiState.images">
                            <md-option ng-value="1">1</md-option>
                            <md-option ng-value="5">5</md-option>
                            <md-option ng-value="10">10</md-option>
                            <md-option ng-value="10000">All</md-option>
                        </md-select>
                    </div>

                    <div>
	                    <md-checkbox ng-model="uiState.isWindowManual" aria-label="Use manual intensity windowing"></md-checkbox>                    	
                    </div>

	                <div layout="row" layout-align="space-between start">
	                    <md-input-container>
	                        <label>Min</label>
	                        <input type="number" ng-model="uiState.windowMin" ng-disabled="!uiState.isWindowManual">
	                    </md-input-container>

	                    <md-input-container>
	                        <label>Max</label>
	                        <input type="number" ng-model="uiState.windowMax" ng-disabled="!uiState.isWindowManual">
	                    </md-input-container>
    	            </div>

                </div>

            </div>

    	</div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
    	<span flex></span>
    	<md-button ng-click="cancelButtonClicked()">Cancel</md-button>
        <sbx-button button-class="md-primary" button-title="Apply" action="applyButtonClicked()"></sbx-button>
    </md-dialog-actions>
</md-dialog>