<div layout="column" layout-margin>

    <div layout="row" layout-margin>

        <div flex>
            <md-card>
                <md-card-content>
                    <h4 class="md-flex">Import Sessions</h4>
                    <md-content>
                        <sbx-grid
                            load-page="loadImportSessions(startIndex, count)"
                            page-size="1000000"
                            sorting="false"
                            object-actions="objectActions"
                            object-selected="importSessionSelected(object)"
                            callbacks="callbacks.importSessionsTable"
                            empty-message="No recorded import sessions">

                            <sbx-grid-column property="name" title="Name">
                            </sbx-grid-column>

                            <sbx-grid-column property="created" title="Created" filter="date: yyyy-MM-dd HH:mm">
                            </sbx-grid-column>

                            <sbx-grid-column property="filesImported" title="Imported">
                            </sbx-grid-column>

                            <sbx-grid-column property="filesRejected" title="Rejected">
                            </sbx-grid-column>
                        </sbx-grid>

                        <div layout="row" class="button-row">
                            <md-button class="md-primary md-raised" ng-click="newImportSessionButtonClicked()">
                                New Import Session
                            </md-button>
                            <div flex></div>
                        </div>
                    </md-content>
                </md-card-content>
            </md-card>
        </div>

        <div flex ng-controller="ImportSessionCtrl">
            <form name="importSessionForm" role="importSessionForm" ng-submit="saveImportSession()" novalidate>

                <md-card ng-if="uiState.selectedImportSession">
                    <md-card-content>
                        <md-content>
                            <div class="row">
                                <md-input-container md-no-float md-is-error="importSessionForm.$submitted && importSessionForm.name.$error.required">
                                    <input type="text" name="name" placeholder="Import session name" ng-model="uiState.selectedImportSession.name" required>
                                    <div ng-messages="importSessionForm.name.$error"
                                        ng-show="importSessionForm.$submitted && importSessionForm.name.$error.required">

                                        <div ng-message="required">This is required!</div>
                                    </div>
                                </md-input-container>
                            </div>

                            <sbx-button button-class="md-raised md-primary"
                                button-type="submit"
                                button-disabled="!uiState.selectedImportSession.name || uiState.selectedImportSession.id > 0"
                                button-title="Create"
                                action="createButtonClicked()">
                            </sbx-button>

                            <md-card ng-if="uiState.selectedSession">
                                <md-card-content>
                                    <h4 class="md-flex">Add files to <i>{{uiState.selectedSession.name}}</i></h4>
                                    <md-content>

                                        <div ngf-drop 
                                             ngf-change="import($files)" 
                                             class="import-drop-box-container" 
                                             ngf-drag-over-class="import-drop-box-dragover" 
                                             ngf-multiple="true" 
                                             ngf-allow-dir="true"> 
                                            <div layout="row" layout-align="center center" style="height: 300px"> 
                                                <h3>Drop DICOM files or folders here</h3>
                                            </div>
                                        </div>
                            
                                        <div ngf-no-file-drop>Drag/Drop is not supported for this browser</div>

                                   </md-content>
                                </md-card-content>
                            </md-card>

                        </md-content>
                    </md-card-content>
                </md-card>

            </form>
         </div>

    </div>

</div>
