<div layout="column" layout-margin class="import">

    <div layout="row" layout-margin>

        <div flex>
            <md-card>
                <md-card-content>
                    <h4 class="md-flex">Import Sessions</h4>
                    <md-content>
                        <sbx-grid
                            load-page="loadImportSessions(startIndex, count)"
                            page-size="20"
                            sorting="false"
                            object-actions="sessionActions"
                            object-selected="importSessionSelected(object)"
                            callbacks="callbacks.importSessionsTable"
                            empty-message="No recorded import sessions"
                            grid-state="uiState.sessionTableState">

                            <sbx-grid-column property="name" title="Name">
                            </sbx-grid-column>

                            <sbx-grid-column property="user" title="User">
                            </sbx-grid-column>

                            <sbx-grid-column property="filesImported" title="Imported">
                            </sbx-grid-column>

                            <sbx-grid-column property="filesAdded" title="Added">
                            </sbx-grid-column>

                            <sbx-grid-column property="filesRejected" title="Rejected">
                            </sbx-grid-column>

                            <sbx-grid-column property="created" title="Created" filter="date: yyyy-MM-dd HH:mm">
                            </sbx-grid-column>

                            <sbx-grid-column property="lastUpdated" title="Updated" filter="date: yyyy-MM-dd HH:mm">
                            </sbx-grid-column>
                        </sbx-grid>

                        <div layout="row" class="button-row">
                            <md-button class="md-primary md-raised" ng-click="addImportSessionButtonClicked()">
                                Add Import Session
                            </md-button>
                            <div flex></div>
                        </div>
                    </md-content>
                </md-card-content>
            </md-card>
        </div>

        <div flex>

            <md-card ng-if="uiState.selectedSession">
                <md-card-content>
                    <h4 class="md-flex">Add files to <i>{{uiState.selectedSession.name}}</i></h4>
                    <md-content>

                        <div ngf-drop="import($files)" 
                             ngf-drag-over-class="'import-drop-box-dragover'" 
                             ngf-multiple="true" 
                             ngf-allow-dir="true"
                             ng-disabled="uiState.currentFileSet.processing"
                             class="import-drop-box-container">
                            <div layout="row" layout-align="center center" style="height: 300px"> 
                                <h3 ng-if="!uiState.currentFileSet.processing">Drop DICOM files or folders here</h3>
                                <div class="column" ng-hide="!uiState.currentFileSet.processing">
                                    <h4>Importing {{uiState.currentFileSet.total}} files...</h4>
                                    <md-progress-linear md-mode="determinate" ng-value="uiState.currentFileSet.progress"></md-progress-linear>
                                </div>
                            </div>
                        </div>
            
                        <div ngf-no-file-drop>Drag/Drop is not supported for this browser</div>


                   </md-content>
                </md-card-content>
            </md-card>

         </div>

    </div>

</div>
