<div class="row">
    <div class="col-md-12">
        <h2>Login</h2>
    </div>
</div>

<div class="row">

<form name="form" ng-submit="login()" role="form">
    <div class="form-group">
        <label for="username">User</label>
        <input type="text" name="username" id="username" class="form-control" ng-model="username" required />
        <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">User is required</span>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="form-control" ng-model="password" required />
        <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
    </div>
    <div class="form-actions">
        <button type="submit" ng-disabled="form.$invalid || uiState.loginInProgress" class="btn btn-primary">Login</button>
        <i ng-if="uiState.loginInProgress" class="fa fa-spinner fa-2x fa-spin"></i>
    </div>
</form>

</div>