<div layout="row" layout-align="center center" layout-margin class="login">
    <div flex="33" class="intro">
        <h1>Welcome to Slicebox!</h1>
        <p>
            Lorem ipsum dolor sit amet, eu iriure tincidunt quo, nobis intellegebat usu an. Numquam pericula suscipiantur id sit, ex vis congue comprehensam, nonumy saperet est et. Usu justo expetendis et. Sit ne munere omnesque consequat. Ex est legere consulatu.
        </p>
        <h3>Mea at sint</h3>
        <p>
            Te vim simul dolor. Sed no dicunt corpora, at tantas latine vel. Sea graeco audiam id. Ei graeco denique appareat sed.
        </p>
        <h3>Ad libris noster</h3>
        <p>
            Eos ut quod explicari, per ne elitr utinam aliquando. Est graeco maiorum complectitur at, cu aliquid accusata usu, assum populo his ut. Meis invidunt ei qui. Ea qui electram gloriatur maiestatis, corrumpit percipitur an cum. No mei malis qualisque.
        </p>
    </div>

    <div flex="33">
        <md-card>
            <md-toolbar class="md-primary" layout="row">
                <h1 class="md-toolbar-tools">
                    <span class="md-flex">Login</span>
                </h1>
            </md-toolbar>

            <md-card-content>
                <form name="loginForm" ng-submit="login()" role="loginForm" novalidate>
                    
                    <md-input-container md-is-error="loginForm.$submitted && loginForm.username.$error.required">
                        <label>Username</label>
                        <input type="text" name="username" ng-model="username" required>
                        <div ng-messages="loginForm.username.$error"
                            ng-show="loginForm.$submitted && loginForm.username.$error.required">

                            <div ng-message="required">This is required!</div>
                        </div>
                    </md-input-container>

                    <md-input-container md-is-error="loginForm.$submitted && loginForm.password.$error.required">
                        <label>Password</label>
                        <input type="password" name="password" ng-model="password" required />
                        <div ng-messages="loginForm.password.$error"
                            ng-show="loginForm.$submitted && loginForm.password.$error.required">

                            <div ng-message="required">This is required!</div>
                        </div>
                    </md-input-container>

                    <div layout="row">
                        <div flex></div>
                        <div>
                            <md-button type="submit" ng-disabled="uiState.loginInProgress"
                                class="md-raised md-primary">
                                Login
                            </md-button>
                        </div>
                    </div>
                </form>
            </md-card-content>
        </md-card>
    </div>
</div>