<div layout="row" layout-align="center center" layout-margin class="login">
    <div flex="40" class="intro">
        <div layout="row" layout-align="start center">
            <img src="/assets/images/logo_dark.svg" height="100" class="login-logo-image"><h1 class="md-headline login-logo-text">Slicebox</h1>
        </div>
        <h2 class="md-subhead login-logo-subtext"> - safe sharing of medical images</h2>
        <p>
            Slicebox makes it easy to collaborate in research and development based on medical images. Slicebox communicates with your local PACS system, file system as well as your collaborators' remote Slicebox instances. Images are browsed and accessed either through the web interface you are currently looking at, or directly using an extensive REST interface.
        </p>
        <h3 class="slicebox-logo-text">Your patients' information is safe</h3>
        <p>
            Slicebox guarantees that patient information does not leave your local network. Image data transferred to other Slicebox instances are always anonymized according to current standards. As long as your data are kept locally, Slicebox keeps all image attributes intact, making sure you are accessing the right data.
        </p>
        <h3 class="slicebox-logo-text">Don't mess with folders and files</h3>
        <p>
            File-based storage of medical images is difficult to manage. Slicebox lets your entire R&D group access data from a single, well-defined database structure. Most applications, including Matlab and R, provide functionality for communicating with REST services such as Slicebox.  
        </p>
    </div>

    <div flex="30">
        <md-card>
            <md-toolbar class="md-primary" layout="row">
                <h1 class="md-toolbar-tools">
                    <span class="md-flex">Login</span>
                </h1>
            </md-toolbar>

            <md-card-content>
                <form name="loginForm" ng-submit="login()" role="loginForm" novalidate>
                    
                    <md-input-container md-is-error="loginForm.$submitted && loginForm.username.$error.required">
                        <label>Username</label>
                        <input type="text" name="username" ng-model="username" required>
                        <div ng-messages="loginForm.username.$error"
                            ng-show="loginForm.$submitted && loginForm.username.$error.required">

                            <div ng-message="required">This is required!</div>
                        </div>
                    </md-input-container>

                    <md-input-container md-is-error="loginForm.$submitted && loginForm.password.$error.required">
                        <label>Password</label>
                        <input type="password" name="password" ng-model="password" required />
                        <div ng-messages="loginForm.password.$error"
                            ng-show="loginForm.$submitted && loginForm.password.$error.required">

                            <div ng-message="required">This is required!</div>
                        </div>
                    </md-input-container>

                    <div layout="row">
                        <div flex></div>
                        <div>
                            <md-button type="submit" ng-disabled="uiState.loginInProgress"
                                class="md-raised md-primary">
                                Login
                            </md-button>
                        </div>
                    </div>
                </form>
            </md-card-content>
        </md-card>
    </div>
</div>