<md-dialog aria-label="Add tag path" flex="40">
	<form name="tagMappingsForm" ng-submit="modify()" novalidate>

		<md-dialog-content>
	  		<md-subheader class="md-sticky-no-effect">
	  			<span>Modifications</span>
	  		</md-subheader>

            <md-card ng-repeat="modification in uiState.modifications">
                <md-card-content>

                    <tag-path-form tag-path="modification.tagPath"></tag-path-form>

                    <md-content class="md-padding">
                        <span class="md-body-1">{{ modification.tagPath | tagPath }}</span>
                        <md-input-container>
                            <label>New Value</label>
                            <input ng-model="modification.value">
                        </md-input-container>
                    </md-content>

                </md-card-content>
            </md-card>

            <md-button class="md-primary md-hue-1" ng-click="addModification()">+modification</md-button>

		</md-dialog-content>


	  	<md-dialog-actions layout="row">
	    	<span flex></span>
	    	<md-button ng-click="cancelButtonClicked()">Cancel</md-button>
			<md-button class="md-primary" type="submit" ng-disabled="!isValid()">OK</md-button>
	    </md-dialog-actions>

	 </form>
 </md-dialog>