<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Outbox</div>

            <div class="panel-body">
                <sbx-grid
                    load-page="loadOutboxPage(startIndex, count, orderByProperty, orderByDirection)"
                    converter="convertOutboxPageData(pageData)"
                    page-size="10000000"
                    object-actions="objectActions"
                    callbacks="callbacks.outboxTable"
                    empty-message="Outbox is empty">

                    <sbx-grid-column property="remoteBoxName" title="Remote Box Name">
                    </sbx-grid-column>

                    <sbx-grid-column property="sequenceNumber" title="Progress">
                        <sbx-grid-cell>
                            <progressbar
                                type="success"
                                max="rowObject.totalImageCount"
                                value="rowObject.totalImageCount - rowObject.imagesLeft">
                                {{rowObject.totalImageCount - rowObject.imagesLeft}} / {{rowObject.totalImageCount}}
                            </progressbar>
                        </sbx-grid-cell>
                    </sbx-grid-column>

                    <sbx-grid-column property="failed" title="Failed">
                    </sbx-grid-column>
                </sbx-grid>
            </div>
        </div>
    </div>
</div>