<md-dialog aria-label="{{title}}" flex="40">
    <md-dialog-content>
        <md-subheader class="md-sticky-no-effect">{{title}}</md-subheader>

        <sbx-grid
            load-page="loadReceivers(startIndex, count, orderByProperty, orderByDirection)"
            page-size="100000"
            sorting="false"
            object-selected="receiverSelected(object)"
            empty-message="No receivers found">

            <sbx-grid-column property="name" title="Name">
            </sbx-grid-column>
        </sbx-grid>

    </md-dialog-content>

    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="cancelButtonClicked()">Cancel</md-button>
        <sbx-button button-class="md-primary" button-title="Select" action="selectButtonClicked()" button-disabled="!uiState.selectedReceiver"></sbx-button>
    </div>
</md-dialog>