<div layout="column" flex layout-margin>

    <div layout="row" layout-margin>

        <div flex="50" ng-controller="IncomingCtrl">
            <md-card>
                <md-card-content>
                    <h4 class="md-flex">Incoming</h4>
                    <md-content class="md-padding" style="height: 300px">
                        <sbx-grid
                            load-page="loadIncomingPage(startIndex, count, orderByProperty, orderByDirection)"
                            page-size="20"
                            object-actions="objectActions"
                            sorting="false"
                            callbacks="callbacks.incomingTable"
                            empty-message="There are no incoming transactions"
                            grid-state="uiState.incomingTableState">

                            <sbx-grid-column property="updated" title="Updated" filter="date: yyyy-MM-dd HH:mm">
                            </sbx-grid-column>

                            <sbx-grid-column property="boxName" title="Box">
                            </sbx-grid-column>

                            <sbx-grid-column property="receivedImageCount" title="Received">
                            </sbx-grid-column>

                            <sbx-grid-column property="addedImageCount" title="Added">
                            </sbx-grid-column>

                            <sbx-grid-column property="totalImageCount" title="Total">
                            </sbx-grid-column>

                            <sbx-grid-column property="status" title="Status">
                                <sbx-grid-cell>
                                    <sbx-chip ng-if="rawPropertyValue == 'WAITING'" chip-class="sbx-chip-waiting">waiting</sbx-chip>
                                    <sbx-chip ng-if="rawPropertyValue == 'PROCESSING'" chip-class="sbx-chip-processing">receiving</sbx-chip>
                                    <sbx-chip ng-if="rawPropertyValue == 'FAILED'" chip-class="sbx-chip-warn">failed</sbx-chip>
                                    <sbx-chip ng-if="rawPropertyValue == 'FINISHED'">finished</sbx-chip>
                                </sbx-grid-cell>                            
                            </sbx-grid-column>

                        </sbx-grid>
                    </md-content>
                </md-card-content>
            </md-card>
        </div>

        <div flex="50" ng-controller="OutgoingCtrl">
            <md-card>
                <md-card-content>
                    <h4 class="md-flex">Outgoing</h4>
                    <md-content class="md-padding" style="height: 300px">
                        <sbx-grid
                            load-page="loadOutgoingPage(startIndex, count, orderByProperty, orderByDirection)"
                            page-size="20"
                            object-actions="objectActions"
                            sorting="false"
                            callbacks="callbacks.outgoingTable"
                            empty-message="There are no outgoing transactions"
                            grid-state="uiState.outgoingTableState">

                            <sbx-grid-column property="updated" title="Updated" filter="date: yyyy-MM-dd HH:mm">
                            </sbx-grid-column>

                            <sbx-grid-column property="boxName" title="Box">
                            </sbx-grid-column>

                            <sbx-grid-column property="sentImageCount" title="Sent">
                            </sbx-grid-column>

                            <sbx-grid-column property="totalImageCount" title="Total">
                            </sbx-grid-column>

                            <sbx-grid-column property="status" title="Status">
                                <sbx-grid-cell>
                                    <sbx-chip ng-if="rawPropertyValue == 'WAITING'" chip-class="sbx-chip-waiting">waiting</sbx-chip>
                                    <sbx-chip ng-if="rawPropertyValue == 'PROCESSING'" chip-class="sbx-chip-processing">sending</sbx-chip>
                                    <sbx-chip ng-if="rawPropertyValue == 'FAILED'" chip-class="sbx-chip-warn">failed</sbx-chip>
                                    <sbx-chip ng-if="rawPropertyValue == 'FINISHED'">finished</sbx-chip>
                                </sbx-grid-cell>                            
                            </sbx-grid-column>

                        </sbx-grid>
                    </md-content>
                </md-card-content>
            </md-card>
        </div>

    </div>

    <div flex ng-controller="BoxLogCtrl">
        <md-card>
            <md-card-content>
                <h4 class="md-flex">Box Log</h4>
                <md-content class="md-padding">
                    <sbx-grid
                        load-page="loadLogPage(startIndex, count)"
                        page-size="20"
                        page-sizes="[10, 20, 50, 100]"
                        object-actions="actions"
                        sorting="false"
                        callbacks="callbacks.logTable"
                        empty-message="Event log is empty"
                        grid-state="uiState.boxLogTableState">

                        <sbx-grid-column property="created" title="Created" filter="date: yyyy-MM-dd HH:mm">
                        </sbx-grid-column>

                        <sbx-grid-column property="entryType" title="Type">
                        </sbx-grid-column>

                        <sbx-grid-column property="subject" title="Subject">
                        </sbx-grid-column>

                        <sbx-grid-column property="message" title="Message">
                        </sbx-grid-column>
                    </sbx-grid>
                </md-content>
            </md-card-content>
        </md-card>
    </div>

</div>
