<div class="row">

	<div class="col-md-12">	

		<h3>Metadata</h3>
		<table class="table table-striped">
			<caption>List of metadata in database</caption>
			<thead>
				<tr>
					<th>Patient Name</th>
					<th>Patient Id</th>
					<th>Patient Birth Date</th>
					<th>Patient Sex</th>
					<th>Study Instance UID</th>
					<th>Study Description</th>
					<th>Study Date</th>
					<th>Study ID</th>
					<th>AccessionNumber</th>
					<th>Manufacturer</th>
					<th>Station Name</th>
					<th>Frame of Reference UID</th>
					<th>Series Instance UID</th>
					<th>Series Description</th>
					<th>Series Date</th>
					<th>Modality</th>
					<th>Protocol Name</th>
					<th>Body Part Examined</th>
					<th>SOP Instance UID</th>
					<th>Image Type</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="image in images">
					<td>{{image.series.study.patient.patientName.value}}</td>
					<td>{{image.series.study.patient.patientID.value}}</td>
					<td>{{image.series.study.patient.patientBirthDate.value}}</td>
					<td>{{image.series.study.patient.patientSex.value}}</td>
					<td>{{image.series.study.studyInstanceUID.value}}</td>
					<td>{{image.series.study.studyDescription.value}}</td>
					<td>{{image.series.study.studyDate.value}}</td>
					<td>{{image.series.study.studyID.value}}</td>
					<td>{{image.series.study.accessionNumber.value}}</td>
					<td>{{image.series.equipment.manufacturer.value}}</td>
					<td>{{image.series.equipment.stationName.value}}</td>
					<td>{{image.series.frameOfReference.frameOfReferenceUID.value}}</td>
					<td>{{image.series.seriesInstanceUID.value}}</td>
					<td>{{image.series.seriesDescription.value}}</td>
					<td>{{image.series.seriesDate.value}}</td>
					<td>{{image.series.modality.value}}</td>
					<td>{{image.series.protocolName.value}}</td>
					<td>{{image.series.bodyPartExamined.value}}</td>
					<td>{{image.sopInstanceUID.value}}</td>
					<td>{{image.imageType.value}}</td>
				</tr>
			</tbody>
		</table>

	</div>

</div>
